button {
  padding: 10px 30px !important;
}

tr {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

td {
  margin-right: 50px;
  display: inline-block;
}
tr:first-child {
  margin: 0;
}
td:first-child {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.seat-name-top {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}
.seat-section-right {
  border-left: 2px dashed gray;
  padding-left: 20px;
}

.disabled {
  cursor : 'not-allowed';
  pointer-events: 'none';
}